mixin logo()
  p.mozilla-logo
    a(href='https://www.mozilla.org' target='_blank') Mozilla

mixin headline()
  .headline
    h1.
      #{headline}
    hr
    p.larger.
      #{subhead}

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Mozilla Research: Studying the Global Web. Stories and insights from 600 people in 22 communities in 7 countries around the world.')
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='Mozilla Research: Studying the Global Web')
    meta(property='og:locale', content='en_US')
    meta(property='og:url', content='https://build.webmaker.org/research/')
    meta(property='og:image', content='https://mozorg.cdn.mozilla.net/media/img/home/page-image.3af4522ff5e7.png')
    meta(property='og:title', content='Mozilla Research: Studying the Global Web')
    meta(property='og:description', content='Mozilla Research: Studying the Global Web. Stories and insights from 600 people in 22 communities in 7 countries around the world.')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@webmaker')
    meta(name='twitter:domain', content='webmaker.org')
    link(rel='stylesheet', href='/css/main.compiled.prefixed.css')
    link(rel='stylesheet', href='//code.cdn.mozilla.net/fonts/fira.css')
    title #{title}
  body
    header
      +logo
      +headline
      p.attribution !{attribution}

    .block.block-header
      +headline
      p !{subhead2}

    mixin block-pair(location, date, reportURL, description)
      .wrapper(id=location.toLowerCase())
        .block.block-image
        .block
          .inner
            h3.date=date
            h2=location
            hr
            p=description
            a(href=reportURL target="_blank").button.
              Read #{location} report
    if blockPairs
      each blockPair in blockPairs
        +block-pair(blockPair.location, blockPair.date, blockPair.reportURL, blockPair.description)

  footer
    mixin social-link(type, url, label)
      a(href=url class='social-link' target='_blank')
        img(src='./images/footer-icon-' + type + '.svg')
        span=label
    .social
      if socialLinks
        each socialLink in socialLinks
          +social-link(socialLink.type, socialLink.url, socialLink.label)

    +logo
