doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Mozilla Research: Studying the Global Web. Stories and insights from 600 people in 22 communities in 7 countries around the world.')
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='Mozilla Research: Studying the Global Web')
    meta(property='og:locale', content='en_US')
    meta(property='og:url', content='https://build.webmaker.org/research/')
    meta(property='og:image', content='https://mozorg.cdn.mozilla.net/media/img/home/page-image.3af4522ff5e7.png')
    meta(property='og:title', content='Mozilla Research: Studying the Global Web')
    meta(property='og:description', content='Mozilla Research: Studying the Global Web. Stories and insights from 600 people in 22 communities in 7 countries around the world.')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@webmaker')
    meta(name='twitter:domain', content='webmaker.org')
    link(rel='stylesheet', href='css/main.compiled.css')
    link(rel='stylesheet', href='//code.cdn.mozilla.net/fonts/fira.css')
    title Studying the Global Web
  body
    header
      p.attribution photos by #[a(href='#NEED_URL') Laura de Reynal]

    .block.block-header
      h1.
        Studying the Global Web
      hr
      p.larger.
        Across the world, technology is used by many kinds of people, in very different circumstances, and for a variety of purposes.
      p.
        Mozilla has studied, documented, and learned from the stories of over 600 real people in 22 communities in 7 countries and their relationship with technology in an effort to understand thte role of the Web in their economies, their communities, their work — their lives.

    mixin block-pair(location, description)
      .wrapper(id=location.toLowerCase())
        .block.block-image
        .block
          h2=location
          hr
          p=description
          a(href='').button.
            Read #{location} report

    +block-pair('Chicago', 'Findings from a two-week ethnographic research project in Chicago, Illinois, stemming from a desire to co-design our products and programs with our users, and to grant our work an international scope.')
    +block-pair('Rio', 'Until the advent of smartphones, LAN Houses were one of the primary points for Brazilian citizens to access the web. Now, LAN Houses are forced to diversity their services to attract.')
    +block-pair('Synthesis', 'Summarizing an investigation of the Web as a platform for generating locally-relevant content, this report includes lessons from India, Kenya, and Bangladesh and recommendations for manifesting impact in these regions through technology.')
    +block-pair('India', 'The popular view of technology in the Western world is challenged in this report of the effects and usage patterns of mobile phones and the Web on teenagers and their education system in the segmented urban hub of Chicago, Illinois.')
    +block-pair('Kenya', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam volutpat tortor quis metus tempus tincidunt arcu iaculis. Sed lobortis dignissim nisl sit amet rhoncus. Cras sit amet arcu auctor iaculis purus ac, vulputate augue.')
    +block-pair('Bangladesh', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam volutpat tortor quis metus tempus tincidunt arcu iaculis. Sed lobortis dignissim nisl sit amet rhoncus. Cras sit amet arcu auctor iaculis purus ac, vulputate augue.')

  footer
    mixin social-link(type, url, label)
      .social-link
        img(src='./images/footer-icon-' + type + '.svg')
        a(href=url)=label

    .social
      +social-link('twitter', '#NEED_URL', 'Talk to us on Twitter')
      +social-link('github', '#NEED_URL', 'Contribute on Github')
      +social-link('tos', '#NEED_URL', 'Terms of Service')
      +social-link('pp', '#NEED_URL', 'Privacy Policy')

    a(class='mozilla', href='#NEED_URL') Mozilla
